{% extends 'base.html' %}
{% block content %}
<h1>Order List for {{order_list.car.client}}</h1>
<h4><b>Order done at:</b> {{order_list.order_date}}</h4>
<h4><b>Car model:</b> {{order_list.car.car_model}}</h4>
<h4><b>Licence plate no:</b> {{order_list.car.plate_no}}</h4>
<h4><b>Vin no:</b> {{order_list.car.vin_number}}</h4>
<h4><b>Total price for order list:</b> {{order_list.total_price}}</h4>
<h4><b>Order list comprising of:</b></h4>
<ul>
    <li><b>Service / Quantity / Price</b></li>
    {% for order in orders %}
    <li>{{ order.service }} / {{ order.quantity }} / {{ order.price }}</li>
    {% endfor %}
</ul>
{% endblock %}